POSTGRES_DB=encore_game
POSTGRES_USER=encore
POSTGRES_PASSWORD=encore

JWT_ISSUER=encore-api
JWT_AUDIENCE=encore-clients
JWT_SIGNING_KEY=CHANGE_ME_SUPER_LONG_SIGNING_KEY_1234567890

GITHUB_CLIENT_ID=your_github_oauth_client_id
GITHUB_CLIENT_SECRET=your_github_oauth_client_secret
GITHUB_REDIRECT_URI=http://localhost:5173/auth/callback
